In [1]:
# import libraries # warning lzma on python 3.9++
import numpy as np
import pandas as pd

/Users/neo/.pyenv/versions/3.9.6/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
# dataframe = pd.read_csv('Custom_Report_PV.csv')
dataframe1 = pd.read_csv('Custom_Report_PVTF_clense_report_7_16_2021.csv')
dataframe2 = pd.read_csv('Custom_Report_PVTF_clense_report_16_07_2021.csv')
# print(f'pandas version:  {pd.__version__}')

In [2]:
# clean data --> omitted last row (sum data) and other NaN row
focus_df = dataframe1

In [3]:
# create report
report_col = ['วันที่โอน', 'FormBank', 'AccNo.','ToBank','Accno','Amount','Ref.']

In [3]:
# view column
# Index(['วันที่โอน', 'Frombank', 'Frombank_BBL', 'Frombank_SCB', 'Frombank_BAY',
#        'Frombank_Kbank', 'Frombank_TTB', 'Frombank_KTB', 'FBAccNoBAY',
#        'FBAccNoBAY_1850030426', 'FBAccNoBAY_1851288804', 'FBAccNoBBL',
#        'FBAccNoBBL_1873061780', 'FBAccNoBBL_1874493222',
#        'FBAccNoBBL_9203000410', 'FBAccNoBBL_9200013200',
#        'FBAccNoBBL_9203000303', 'FBAccNoBBL_5820904489',
#        'FBAccNoBBL_5823004931', 'FBAccNoBBL_2173020112',
#        'FBAccNoBBL_2174149696', 'FBAccNoBBL_1455466696',
#        'FBAccNoBBL_1453070466', 'FBAccNoKBANK', 'FBAccNoKBANK_7391013343',
#        'FBAccNoKBANK_7601020836', 'FBAccNoKBANK_7601020763',
#        'FBAccNoKBANK_7001001706', 'FBAccNoKBANK_7002239188', 'FBAccNoKTB',
#        'FBAccNoKTB_1950180611', 'FBAccNoKTB_1956010408', 'FBAccNoSCB',
#        'FBAccNoSCB_1173013946', 'FBAccNoSCB_1172673256', 'FBAccNoTTB',
#        'FBAccNoTTB_1012199970', 'FBAccNoTTB_1011102801', 'ToBank',
#        'ToBank_BBL', 'ToBank_SCB', 'ToBank_BAY', 'ToBank_Kbank', 'ToBank_TTB',
#        'ToBank_KTB', 'ToBankBAY', 'ToBankBAY_1850030426',
#        'ToBankBAY_1851288804', 'ToBankBBL', 'ToBankBBL_1873061780',
#        'ToBankBBL_1874493222', 'ToBankBBL_9203000410', 'ToBankBBL_9200013200',
#        'ToBankBBL_9203000303', 'ToBankBBL_5820904489', 'ToBankBBL_5823004931',
#        'ToBankBBL_2173020112', 'ToBankBBL_2174149696', 'ToBankBBL_1455466696',
#        'ToBankBBL_1453070466', 'ToBankKbank', 'ToBankKbank_7391013343',
#        'ToBankKbank_7601020836', 'ToBankKbank_7601020763',
#        'ToBankKbank_7001001706', 'ToBankKbank_7002239188', 'ToBankKTB',
#        'ToBankKTB_1950180611', 'ToBankKTB_1956010408', 'ToBankSCB',
#        'ToBankSCB_1173013946', 'ToBankSCB_1172673256', 'ToBankTTB',
#        'ToBankTTB_1012199970', 'ToBankTTB_1011102801', 'Amount', 'RefNo'],
#       dtype='object')

In [5]:
def splitBank(bankString):
    return bankString.split('|') if (not pd.isna(bankString)) else ''

In [45]:
# need Acc no sorted
# declare var
focus_dataframe = dataframe1
bank_input = np.array(focus_dataframe['Frombank'])
# bank_input
# array(['BBL|BBL', 'BBL|BAY', 'BBL|SCB', 'Kbank|Kbank|SCB|BAY'], dtype=object)

# provide running idx -- run on each row of dataframe
idx = 0

# count all banks [Bay:0,scb:1 etc]
focus_bank = splitBank(bank_input[idx]) # ['Kbank', 'Kbank', 'SCB', 'BAY']
this_bank = ''
uCount = 0

for bank_idx in range(len(focus_bank)):
    if this_bank != focus_bank[bank_idx]:
        this_bank = focus_bank[bank_idx]
        print(focus_dataframe['FBAccNo'+focus_bank[bank_idx].upper()].map(splitBank))
    else :
        print(focus_dataframe['FBAccNo'+focus_bank[bank_idx].upper()])

0    [7601020836, 7601020836]
1
Name: FBAccNoKBANK, dtype: object
0    7601020836|7601020836
1                      NaN
Name: FBAccNoKBANK, dtype: object

AttributeError: 'float' object has no attribute 'split'

In [6]:
df = pd.DataFrame(columns=report_col)

def splitItem(banktxt):
    if math.isnan(banktxt):
        return ''
    else:
        return banktxt.split('|')

# loop index

# clensing data
day_c = pd.DataFrame(np.array(dataframe['วันที่โอน']
    .map(lambda x:x if (not pd.isna(x)) else 'None')
    .iloc[0]
    .split('|') 
    )
    .reshape(-1, 1),
    columns=['วันที่โอน'])

def formatdate(datesting):
    dateS = datesting.split("/")
    dateR = dateS[1]+"/"+dateS[0]+"/"+dateS[2]
    return dateR

day_c = pd.DataFrame(np.array(dataframe['วันที่โอน']
    .map(lambda x:x if (not pd.isna(x)) else 'None')
    .iloc[0]
    .split('|') 
    )
    .reshape(-1, 1),
    columns=['วันที่โอน']   
)['วันที่โอน'].map(formatdate)


FB_C = pd.DataFrame(np.array(dataframe['FromBank']
    .map(lambda x:x if (not pd.isna(x)) else 'None')
    .iloc[0]
    .split('|') 
    )
    .reshape(-1, 1),
    columns=['From Bank']
)

# accurately target bank from 'from bank data'
# dataframe['FromBank'].iloc[0]
# 'BBL|BBL'
# FromAccNo+FB_C

FB_BankAccNo = pd.DataFrame(np.array(dataframe['FromAccNoBBL']
    .map(lambda x:x if (not pd.isna(x)) else 'None')
    .iloc[0]
    .split('|') 
    )
    .reshape(-1, 1),
    columns=['Account No.']
)

To_Bank = pd.DataFrame(np.array(dataframe['ToBank']
    .map(lambda x:x if (not pd.isna(x)) else 'None')
    .iloc[0]
    .split('|') 
    )
    .reshape(-1, 1),
    columns=['To Bank']
)

To_BankNo = pd.DataFrame(np.array(dataframe['ToAccNoBBL']
    .map(lambda x:x if (not pd.isna(x)) else 'None')
    .iloc[0]
    .split('|') 
    )
    .reshape(-1, 1),
    columns=['Account No.']
)


Amount_C = pd.DataFrame(np.array(dataframe['Amount']
    .map(lambda x:x if (not pd.isna(x)) else 'None')
    .iloc[0]
    .split('|') 
    )
    .reshape(-1, 1),
    columns=['Amount']
)

RefNo_C = pd.DataFrame(np.array(dataframe['RefNo']
    .map(lambda x:x if (not pd.isna(x)) else 'None')
    .iloc[0]
    .split('|') 
    )
    .reshape(-1, 1),
    columns=['RefNo']
)

merge = pd.concat([day_c,FB_C,FB_BankAccNo,To_Bank,To_BankNo,Amount_C,RefNo_C], axis=1)
merge

,วันที่โอน,From Bank,Account No.,To Bank,Account No.,Amount,RefNo
0,14/6/2021,BBL,1453070466,BBL,1873061780,1850000.00,BT034-140664
1,14/6/2021,BBL,9203000410,BBL,1873061780,300000.00,BT035-140664

In [7]:
# export
# merge.to_csv("Report_PV.csv",header=True,index=True)

In [8]:
FB_C

  From Bank
0       BBL
1       BBL