In [1]:
# import libraries # warning lzma on python 3.9++
import numpy as np
import pandas as pd

/Users/neo/.pyenv/versions/3.9.6/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [52]:
# get data from path
name = 'Custom_Report_PVTF_clense_report_16_07_2021.csv'
# focus_df = pd.read_csv('Custom_Report_PVTF_clense_report_7_16_2021.csv',dtype=str)
focus_df = pd.read_csv('Custom_Report_PVTF_clense_report_16_07_2021.csv',dtype=str)
range(len(focus_df))

range(0, 2)

In [27]:
# view column
# Index(['วันที่โอน', 'Frombank', 'Frombank_BBL', 'Frombank_SCB', 'Frombank_BAY',
#        'Frombank_Kbank', 'Frombank_TTB', 'Frombank_KTB', 'FBAccNoBAY',
#        'FBAccNoBAY_1850030426', 'FBAccNoBAY_1851288804', 'FBAccNoBBL',
#        'FBAccNoBBL_1873061780', 'FBAccNoBBL_1874493222',
#        'FBAccNoBBL_9203000410', 'FBAccNoBBL_9200013200',
#        'FBAccNoBBL_9203000303', 'FBAccNoBBL_5820904489',
#        'FBAccNoBBL_5823004931', 'FBAccNoBBL_2173020112',
#        'FBAccNoBBL_2174149696', 'FBAccNoBBL_1455466696',
#        'FBAccNoBBL_1453070466', 'FBAccNoKBANK', 'FBAccNoKBANK_7391013343',
#        'FBAccNoKBANK_7601020836', 'FBAccNoKBANK_7601020763',
#        'FBAccNoKBANK_7001001706', 'FBAccNoKBANK_7002239188', 'FBAccNoKTB',
#        'FBAccNoKTB_1950180611', 'FBAccNoKTB_1956010408', 'FBAccNoSCB',
#        'FBAccNoSCB_1173013946', 'FBAccNoSCB_1172673256', 'FBAccNoTTB',
#        'FBAccNoTTB_1012199970', 'FBAccNoTTB_1011102801', 'ToBank',
#        'ToBank_BBL', 'ToBank_SCB', 'ToBank_BAY', 'ToBank_Kbank', 'ToBank_TTB',
#        'ToBank_KTB', 'ToBankBAY', 'ToBankBAY_1850030426',
#        'ToBankBAY_1851288804', 'ToBankBBL', 'ToBankBBL_1873061780',
#        'ToBankBBL_1874493222', 'ToBankBBL_9203000410', 'ToBankBBL_9200013200',
#        'ToBankBBL_9203000303', 'ToBankBBL_5820904489', 'ToBankBBL_5823004931',
#        'ToBankBBL_2173020112', 'ToBankBBL_2174149696', 'ToBankBBL_1455466696',
#        'ToBankBBL_1453070466', 'ToBankKbank', 'ToBankKbank_7391013343',
#        'ToBankKbank_7601020836', 'ToBankKbank_7601020763',
#        'ToBankKbank_7001001706', 'ToBankKbank_7002239188', 'ToBankKTB',
#        'ToBankKTB_1950180611', 'ToBankKTB_1956010408', 'ToBankSCB',
#        'ToBankSCB_1173013946', 'ToBankSCB_1172673256', 'ToBankTTB',
#        'ToBankTTB_1012199970', 'ToBankTTB_1011102801', 'Amount', 'RefNo'],
#       dtype='object')

In [28]:
# declare structure
report_col = ['วันที่โอน', 'FormBank', 'AccNo.','ToBank','Accno','Amount','Ref.']

In [46]:
# declare function
def splitBank(bankString):
    '''
    split BAY|BAY --> [BAY,BAY]
    '''
    return bankString.split('|') if (not pd.isna(bankString)) else ''

def formatdate(datesting):
    '''
    swap mm/dd/yyyy --> dd/mm/yyyy
    '''
    dateS = datesting.split("/")
    dateR = dateS[1]+"/"+dateS[0]+"/"+dateS[2]
    return dateR    

def clense_df_day(df_row):
    '''
    make 7/19/2021|7/20/2021 --> df 0    19/7/2021
                                    1    23/7/2021
    '''
    dataString = df_row['วันที่โอน']
    bankarr = splitBank(dataString)
    day_c = pd.DataFrame(np.array(bankarr),columns=['วันที่โอน']).applymap(formatdate)
    # print(type(day_c))
    return day_c

def clense_df_day(df_row):
    '''
    make 7/19/2021|7/20/2021 --> df 0    19/7/2021
                                    1    23/7/2021
    '''
    dataString = df_row['วันที่โอน']
    bankarr = splitBank(dataString)
    day_c = pd.DataFrame(np.array(bankarr),columns=['วันที่โอน']).applymap(formatdate)
    # print(type(day_c))
    return day_c

def clense_df(df_row,field,newCol):
    '''
    make 7/19/2021|7/20/2021 --> df 0    19/7/2021
                                    1    23/7/2021
    '''
    dataString = df_row[field]
    arr = dataString.split('|')  if (not pd.isna(dataString)) else ''
    c = pd.DataFrame(np.array(arr),columns=[newCol])
    # print(type(day_c))
    return c      

def getBankAccNo(df_row,focus_dataframe,row_run):
    '''
    make 'BBL|BBL' --> df 0    123124145
                          1    406804786
    '''    
    bank_input = df_row['Frombank']

    focus_bank = splitBank(bank_input) # ['Kbank', 'Kbank', 'SCB', 'BAY'] return '' if NaN
    this_bank = 'start'
    uCount = 0
    accNumber = []

    for bank in focus_bank:
        # check if not ''(Nan)
        if(this_bank != bank):
            this_bank = bank
            uCount = 0
            # get bank account
            this_accNo = focus_dataframe['FBAccNo'+bank.upper()][row_run].split('|')[uCount]
            # print(uCount)
            # print(this_accNo)
            accNumber.append(this_accNo)
            # print(type(this_accNo))
        elif(this_bank == bank):
            # move to another index
            uCount = uCount +1
            this_accNo = focus_dataframe['FBAccNo'+bank.upper()][row_run].split('|')[uCount]
            # print(uCount)
            # print(this_accNo)
            accNumber.append(this_accNo)
            # print(type(this_accNo))     
        else:
            # skip got NaN
            uCount = 0
            continue   

    FB_BankAccNo = pd.DataFrame(np.array(accNumber).reshape(-1, 1),columns=['AccNo.'])
    return FB_BankAccNo

def getToBankAccNo(df_row,focus_dataframe,row_run):
    '''
    make 'BBL|BBL' --> df 0    123124145
                          1    406804786
    '''    
    bank_input = df_row['ToBank']

    focus_bank = splitBank(bank_input) # ['Kbank', 'Kbank', 'SCB', 'BAY'] return '' if NaN
    this_bank = 'start'
    uCount = 0
    accNumber = []

    for bank in focus_bank:
        # check if not ''(Nan)
        if(this_bank != bank):
            this_bank = bank
            uCount = 0
            # get bank account
            this_accNo = focus_dataframe['ToBank'+bank][row_run].split('|')[uCount]
            # print(uCount)
            # print(this_accNo)
            accNumber.append(this_accNo)
            # print(type(this_accNo))
        elif(this_bank == bank):
            # move to another index
            uCount = uCount +1
            this_accNo = focus_dataframe['ToBank'+bank][row_run].split('|')[uCount]
            # print(uCount)
            # print(this_accNo)
            accNumber.append(this_accNo)
            # print(type(this_accNo))     
        else:
            # skip got NaN
            uCount = 0
            continue   

    To_BankAccNo = pd.DataFrame(np.array(accNumber).reshape(-1, 1),columns=['AccNo.'])
    return To_BankAccNo

In [51]:

# begin clensing data
merge = pd.DataFrame(columns= ['วันที่โอน', 'Frombank', 'AccNo.','ToBank','AccNo.','Amount','RefNo'])

for idx in range(len(focus_df)):
    data_row = focus_df.iloc[idx]
    if(pd.isna(data_row['Frombank'])):
        continue
    else:
        day_c = clense_df_day(data_row) #ok
        FB_C = clense_df(data_row,'Frombank','Frombank') #ok
        FB_BankAccNo = getBankAccNo(data_row,focus_df,0) #ok
        To_Bank = clense_df(data_row,'ToBank','ToBank') #ok
        To_BankNo = getToBankAccNo(data_row,focus_df,0) #ok
        Amount_C = clense_df(data_row,'Amount','Amount') #ok
        RefNo_C = clense_df(data_row,'RefNo','RefNo') #ok

        m = pd.concat([day_c,FB_C,FB_BankAccNo,To_Bank,To_BankNo,Amount_C,RefNo_C], axis=1)
        # print(m)
        merge = pd.concat([merge,m])

,วันที่โอน,Frombank,AccNo.,ToBank,AccNo.,Amount,RefNo
0,07/12/2021,BBL,1453070466,BBL,1873061780,1300000.00,BT042-120764

In [56]:
# export data
filename = name.split('.')[0]
merge.to_csv(filename+'_clense.csv', encoding='iso8859_11')